@import 'tailwindcss';

.dashboard-container {
  @apply min-h-screen bg-gray-100 p-6;
}

.dashboard-card {
  @apply max-w-5xl mx-auto bg-white shadow rounded p-6;
}

.dashboard-header {
  @apply flex justify-between items-center mb-4;
}

.dashboard-title {
  @apply text-2xl md:text-3xl font-extrabold text-slate-800 tracking-tight;
}

.user-table-wrapper {
  @apply overflow-x-auto rounded-xl border border-slate-200 bg-white;
}

.user-table {
  @apply w-full min-w-[600px] md:min-w-full border-collapse text-left text-sm text-slate-600;
}

.user-table-thead {
  @apply bg-slate-50 border-b border-slate-200 text-slate-900 font-semibold;
}

.user-table-th {
  @apply px-3 md:px-6 py-4 text-sm font-medium;
}

.user-table-row {
  @apply border-b border-slate-100 hover:bg-slate-50 transition-colors duration-150;
}

.user-table-td {
  @apply px-3 md:px-6 py-4 align-middle;
}

.btn-logout {
  @apply  sm:w-auto px-5 py-2.5 bg-rose-50 text-rose-600 font-semibold rounded-lg 
         hover:bg-rose-600 hover:text-white transition-all duration-200 active:scale-95 text-center;
}

.btn-delete {
  @apply  px-3 md:px-4 py-1.5 font-medium rounded-md transition-all duration-200 inline-block text-center bg-red-100 border border-rose-200 text-rose-600 hover:bg-rose-600 hover:text-white;
}

.link-edit {
  @apply px-3 md:px-4 py-1.5 font-medium rounded-md transition-all duration-200 inline-block text-center bg-blue-100 border border-blue-200 text-blue-600 hover:bg-blue-600 hover:text-white;
}

.user-avatar {
  @apply w-10 h-10 rounded-full object-cover ring-2 ring-slate-100 mx-auto block;
}

.empty-state {
  @apply text-center py-12 text-slate-400 font-medium italic;
}

.pop-card{
  @apply fixed inset-0 z-50 flex items-center justify-center
}

.pop-overlay {
  @apply absolute inset-0 bg-slate-900/40 backdrop-blur-sm;
}

.pop-content {
  @apply relative z-10 w-full max-w-md bg-white rounded-2xl shadow-2xl p-6 
         border border-slate-100;
}

.pop-title {
  @apply text-xl font-bold text-slate-800 mb-2 flex items-center gap-2;
}

.pop-title-2 {
  @apply text-slate-600 mb-6 leading-relaxed;
}

.pop-warning {
  @apply  mt-2 text-rose-600 font-bold text-sm;
}

.pop-actions {
  @apply flex justify-end gap-3;
}

.btn-cancel {
  @apply px-5 py-2 rounded-xl bg-slate-100 text-slate-700 font-semibold
         hover:bg-slate-200 active:scale-95 transition-all duration-200;
}

.btn-confirm-delete {
  @apply px-5 py-2 rounded-xl bg-rose-600 text-white font-semibold
         hover:bg-rose-700 shadow-lg shadow-rose-200 active:scale-95 transition-all duration-200;
}