@import 'tailwindcss';



.page {
  @apply min-h-screen flex items-center justify-center bg-gray-100 p-4;
}

.card {
  @apply w-full max-w-md bg-white p-8 rounded-2xl shadow-xl shadow-gray-200/50 border border-gray-100;
}

.title {
  @apply text-3xl font-extrabold text-gray-600 text-center mb-6 tracking-tight;
}

.input {
  @apply w-full px-4 py-3 mb-4 rounded-xl border border-gray-200 
         outline-hidden ring-blue-500/20 focus:ring-4 focus:border-blue-500 
         transition-all duration-200 placeholder:text-gray-400;
}

.button {
  @apply w-full py-3 px-6 bg-blue-500 hover:bg-blue-700 active:scale-[0.98]
         text-white font-semibold rounded-xl shadow-md shadow-blue-200
         transition-all duration-200 cursor-pointer;
}

.link {
  @apply text-blue-600 font-light hover:text-blue-700  decoration-blue-500/30 
         hover:decoration-blue-700 transition-colors;
}